{% extends 'base.html.twig' %}

{% block title %}Hello LivreController!{% endblock %}

{% block body %}
<h1 class="livre"><img class="orge" src="{{asset('assets/orge2.png')}}" alt="">Livre d'or<img class="orge" src="{{asset('assets/orge.png')}}" alt=""></h1>










<style>
.livre{
     font-family: 'Dancing Script', cursive ;
    text-align: center;
    margin: 30px;
}



</style>
{% endblock %}
